:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  color: #f6f6f6;
    background-color: #2f2f2f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.txt {
  font-weight: 700;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.cont a{
  color: cyan;
}

table td,tr{
  border: white solid 1px;
  padding:  0px 5px;
}



